


<div style="margin-left: 30%;">
    <h2>EJERCICIO 1 - ROCHA FACUNDO 4B</h2>
    <br><br>

Edad 1: <input type="number" name="" id="" [(ngModel)]="edad1">

<br><br>

Edad 2: <input type="number" name="" id="" [(ngModel)]="edad2">


<br><br>
<button (click)="calcular()">Calcular</button>
<br><br>
<button (click)="limpiar()">Limpiar cuatros de textos</button>

<br><br>

Suma: <input type="text" [value]="this.suma" name="" id="">
<br><br>

Promedio: <input type="text" [value]="this.promedio" name="" id="">

</div>
